nav {
  border-bottom: 1px solid var(--primary-color);
}

.responsive-nav {
  border-bottom: 1px solid var(--primary-color);
}

li {
  padding: 5px;
  transition: .3s;
}

li:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

li:nth-child(1):hover {
  border: none;
  color: #00000099;
}

.shopping-cart:hover {
  border: none;
}

.shopping-cart div div {
  color: var(--bg-color);
}

.shopping-cart div div {
  background-color: var(--primary-color);
}

aside nav li:hover {
  border: none;
}

.nav-mobile {
  animation: normal .5s sliceTop;
}

@keyframes sliceTop {
  0% {
    top: -900px;
  }

  100% {
    top: 80px;
  }
}